@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
  font-family: "Aileron";
  src: url("fonts/Aileron-Regular.otf");
}

@font-face {
  font-family: "Aileron";
  src: url("fonts/Aileron-Bold.otf");
}

/* Tailwind v4 theme config 
@theme {
  --font-sans: "Aileron", system-ui, sans-serif;
} */

body
{
  font-family: "Aileron";
}
